catboost==1.2.10
duckdb==1.5.5
holidays==0.87
joblib==1.4.2
joblib==1.5.2
lightgbm==4.7.0
matplotlib==3.11.1
meteostat==1.7.6
mlflow==3.14.0
mlflow_skinny==3.14.0
mlflow_tracing==3.14.0
numpy==2.5.2
pandas==3.0.5
plotly==6.5.0
pmdarima==2.1.1
prophet==1.2.1
PyYAML==6.0.3
scikit_learn==1.9.0
seaborn==0.13.2
statsmodels==0.14.6
streamlit==1.41.1
streamlit==1.52.1
xgboost==3.4.1
